.warning {
    color: #ff4057;
}

.validation-text {
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
	font-size: 0.7rem;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	
}

.container {
	display: flex;
	flex-direction: column;
	padding-top: 90px;
}

textarea{
	resize: none;
	outline-color: #d1d4d6;
}